* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#hero-section {
    min-height: 80vh;
}

/* .hero-text {
    animation-name: move;
    animation-duration: 5s;
    margin-top: 70px;
}

.hero-text:visited {
   @keyframes move 
   100% {transform: translateY(-22px);}
} */

.text-primary {
    color: #124265 !important;
}

.text-info {
    color: #1e6ca6 !important;
}

.text-secondary {
    color: #5e5e5e !important;
}

#about-us .row ul {
    list-style: none;
}

#cards-section {
    min-height: 40vh;
}

.card {
    transition: all 0.4s ease-in-out;
}

.card:hover {
    transform: scale(1.1);

}

.card-body {
    height: 200px;
}

.card-body img {
    width: 35px;
    height: 35px;
}

#hero-section, #cards-section {
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.8)), url(../img/hero-bg.jpg);
    
}

#numbers, #team, #faq {
    background-color: #f8fbfe;
}

#video-section .row ul {
    list-style: none;
}

.logo-bottom {
    background: #f8fbfe;
}

.logo-bottom img {
    max-width: 100px;
    height: auto;
    filter: grayscale(100%);
}

.logo-bottom img:hover {
    filter: grayscale(0%);
    transition: all 0.4s ease-in-out;
    transform: scale(1.15);
}

.testimony-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.testimony{
    background: #f3f9fd;
}

.section-bg {
    background: #f8fbfe;
}

.service-card-bg {
    background: white;
}

.dribble-icon, .file, .speedometer, .stack-icon {
    position: absolute;
    margin-left: -4.5rem;
    margin-top: 2rem;
    
}

.arch-icon, .slide-icon {
    position: absolute;
    margin-left: -4rem;
    margin-top: 3rem;
}

.dribble-bg, .file-bg, .speedometer-bg, .stack-bg, .slide-bg, .arch-bg {
    position: relative;
}

.dribble-background:hover .dribble-bg {
    fill: #47aeff;
}

.dribble-background:hover .dribble-icon, .earmark-background:hover .file, .speedometer-background:hover .speedometer, .stack-background:hover .stack-icon, .slide-background:hover .slide-icon, .arch-background:hover .arch-icon {
    fill: #ffffff;
}

.earmark-background:hover .file-bg {
    fill: #ffa76e;
}

.speedometer-background:hover .speedometer-bg {
    fill: #e80368;
}

.stack-background:hover .stack-bg {
    fill: #ffbb2c;
}

.slide-background:hover .slide-bg {
    fill: #ff5828;
}

.arch-background:hover .arch-bg {
    fill: #11dbcf;
}

/* .dribble-icon:hover {
    fill: white;
}

.dribble-bg:hover {
    fill: #47aeff;
} */


.icon-box {
   padding:  70px 20px 80px 20px;
}

.icon-box p {
    font-size: 14px;
}

.icon-box a {
   text-decoration: none;
}

.bg-light-blue {
    background-color: #2487ce;
    color: white;
}

.btn-cta {
    display: inline-block;
    padding: 10px 35px;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 10px;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
}

.btn-cta:hover {
    background-color: white;
    color: #2487ce;
}

#portfolio ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

#portfolio ul li {
    margin-right: 20px;
}

#portfolio ul li a:hover {
    color: #2487ce;
}

.filter-link a {
    text-decoration: none;
    color: black;
}

.portfolio-info {
    display: none;
}

.image-top .socials {
    position: absolute;
    height: 50px;
    margin-top: -50px;
    margin-left: 0px;
    background-color: white;
    opacity: 0;
    width: 20.4%;
    padding-top: 15px;
    /* width: 43.8%; */
    /* padding-right: 61px;
    padding-left: 61px;
   
    padding-bottom: 15px; */
    align-items: center;
    justify-content:center;
    text-align: center;
}

.image-top .socials a {
   text-align: center;
}

.team-cards:hover .image-top .socials {
    opacity: 0.7;
}

.image-top .social a {
    transition: color 0.3s;
    color: #124265;
    margin: 0 10px;
    display: inline-block;
}

.price-card-info {
    padding: 40px 20px;
    text-align: center;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    background: #fefefe;
    box-shadow: 0px 5px 90px 0px rgb(110 123 131 / 10%);
}

.price-card-info h4 {
    margin-bottom: 20px;
   
}

.price-card-info h4 span {
    color: #2487ce;
}

.price-card-info h4 sub {
    color: #bababa;
}


.price-card-info h3 {
    padding: 15px;
}

.price-card-info ul li {
    list-style: none;
    padding-bottom: 15px;
}

.price-card-info ul li del {
    color: #ccc;
}

.buy-btn {
    padding: 10px 40px 10px 40px;
    margin-left: 20px;
    border-color: #2487ce;
    border-radius: 5px;
    background-color: white;
    color: #2487ce;
}

.buy-btn:hover {
    background-color: #2487ce;
    color: white;
}

#business-plan {
    background-color: #2487ce;
    color: white;
}

.bus-btn {
    padding: 10px 40px 10px 40px;
    margin-left: 20px;
    border-radius: 5px;
    border-color: white;
    background-color: #2487ce;
    color: white;
}

.bus-btn:hover {
    background-color: white;
    color: #2487ce;
}

#bus-price {
    color: white;
}

.bi-question-circle {
    color: #2487ce;
    margin-right: 10px;
}

.contact-icon i {
    border: 2px solid;
    font-size: 20px;
    color: #2487ce;
    float: left;
    width: 44px;
    height: 44px;
    background: #e3f0fa;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    margin-right: 20px;
}

.contact-icon i:hover {
    background: #2487ce;
    color: #e3f0fa;
}

.contact-btn {
    background: #2487ce;
    color: white;
    padding: 10px 30px;
    transition: all 0.4s ease;
    border-radius: 4px;
}

/* for tablet */
@media (max-width:769px) {
    .image-top .socials {
        width: 43.8%;
    }
}

/* for mobile phones */
@media (max-width:426px) {
    .image-top .socials {
        width: 94.1%;
    }
}